<html lang="en">
<meta charset="UTF-8">
<body>

<h1>Linked Jira issues missing a backlink</h1>

<p>
These Jira issues link to GitHub/Launchpad, but there is no backlink to Jira.
</p>

<table style="width: 100%">

    {{#repositories}}
    <tr><td colspan="3"><br /><h2>{{title}} <a href="{{path}}" style="text-decoration: none;">{{icon}}</a></h2></td></tr>

    {{#issues_without_jira_backlink_youngest_first}}
    <tr>
        <td><a href="{{jira_path}}">{{number}}</a></td>
        <td title="{{summary}}">{{title}}</td>
        <td style="white-space: nowrap;">{{age}}</td>
    </tr>
    {{/issues_without_jira_backlink_youngest_first}}
    {{/repositories}}

</table>

</body>
</html>
